{
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-order": [
   
      "display",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "align-content",
      "align-items",
      "align-self",
      "justify-content",
      "order",
      "float",
      "clear",
      "columns",
      "column-gap",
      "column-fill",
      "column-rule",
      "column-span",
      "column-count",
      "column-width",

      "width",
      "height",
      "min-width",
      "max-width",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "box-sizing",
      "border",
      "border-width",
      "border-style",
      "border-color",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-radius",
      

      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",
      "color",
      "opacity",
      "box-shadow",
      "fill",
      "stroke",

  
      "font",
      "font-family",
      "font-size",
      "font-weight",
      "font-style",
      "font-variant",
      "text-align",
      "text-decoration",
      "text-transform",
      "line-height",
      "letter-spacing",
      "white-space",
      "word-break",
      "word-spacing",
      "text-shadow",


      "transition",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      "transform",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "animation-fill-mode",
      "cursor",
      "user-select",
      "pointer-events"
    ]
  }
}