
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  padding: 0;
  list-style: none;
}
p{
  margin-bottom: 0;
}


.app {
  width: 100vw;
  height: 100vh;
}

.calendar .container {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.4fr 2.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header Header Header Header Header Header Header Header Header Header Header Header"
    "aside aside Main Main Main Main Main Main Main Main Main Main Main Main"; 
}
.aside { grid-area: aside; }

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: Header; 
  background-color: hsl(0, 0%, 50%, 0.5);
}
.Header{grid-area: Header; background-color: #9e69af;}

.weekDays {
  margin-bottom: 0;
  
  display: grid;
  list-style: none;
  width: 87%;
  padding: 3%;
  padding-bottom: 0%;
  background-color: transparent;
  grid-template-columns: repeat(7, 1fr);
 
}

.weekDays li{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 1px solid gray;
 

}
.calendarDisplay {
  background: #007b83;
  border:  3px solid gray;
  background-color:yellow;
  display: grid;
  padding: 3%;
  height: 90%;
  width: 87%;
  margin-top: 0;
  padding-top: 0%;
  list-style: none;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.day, .paddingDay{

  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  display: grid;

}

.calendarDisplay p { text-align: center;
  font-size: 1.5em;
  user-select: none;
}
.day__number{ height: 50%}
.today  {
 
}
.paddingDay {
  opacity: 0.7;
}

/* Events */
.event{
  user-select: none;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}

.event::before{
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.event:hover {background-color: aliceblue;}
.work::before{ 
  background-color: #ef6c00;
}

.invalid-feedback {
  color: rgb(51, 255, 0); 
  font-size: 12px; 
}

.is-invalid {
  border-color: rgb(47, 255, 0);
  background-color: #ffe6e6;
}
.home::before{
  background-color: #007b83;
}

.home::before{
  background-color: #039be5;
}

.hobby::before{
  background-color: #9e69af;
}

.holiday {
  background-color: #039be5;
}

.error-message {
  color: rgb(154, 1, 1);
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  animation: bounce 1s ease-in;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-8px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.is-invalid {
  border-color: red;
}
.app{overflow-y: hidden;}

.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}