@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Mega:wght@600&family=Public+Sans:wght@600&display=swap');

/* FONTS IMPORTED 
font-family: 'Archivo Black', sans-serif;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Public Sans', sans-serif; */

:root {
  --background-color: hsl(0, 0%, 10%); /* Dark background color */
  --text-color: hsl(0, 0%, 90%); /* Light text color */
  --accent-color: hsl(0, 0%, 60%); /* Medium gray for accents */
  --border-color: hsl(0, 0%, 20%); /* Darker border color */
  --hover-color: hsl(0, 0%, 30%); /* Slightly lighter color on hover */
  --lightBlue: #7df9ff; 
  --green: #2fff2f; 
  --pink: #ff00f5 ;
  --purple: #3300ff;
  --orange: #ff4911 ;
  --yellow:#ffff00 ;

  /* You can add more variables for different parts of your calendar */
}

.app {
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
}
.main{
  grid-area: main;
   display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
height: 97%;}



.calendar {
min-height: 97%;
max-height: 97%;
  display: grid;
  grid:
    "header header header" 15%
    "aside main main" 83%
    / 16% 1fr auto;
  gap: 8px;
  
font-family: 'Archivo Black', sans-serif;
/* font-family: 'Lexend Mega', sans-serif;
font-family: 'Public Sans', sans-serif; */
}

.calendar__month-title{
padding:  0 5%;
width: 45%;
  text-align: center;
  color:#fefefe;
  font-size: 2.9em;
  background-color: #039be5;
  border: var(--border-color) 1px solid;
  font-family: 'Lexend Mega', sans-serif;
  text-shadow: rgb(0, 0, 0) 6px -3px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;

}
.aside {
  grid-area: aside;  
  background-color: #007b83;
  width: 100%;}

.calendar__header {
  display: flex;
justify-content: center;
  align-items: center;
  grid-area: header; 
  background-color: hsl(0, 0%, 50%, 0.5);
}

.calendar__weekDays{
 margin-bottom: 0;  
  display: grid;
  list-style: none;
  width: 97%; 
  padding-bottom: 0%;
  background-color: transparent;
  grid-template-columns: repeat(7, 1fr);
 
}

.calendar__weekDays li{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 1px solid hsl(0, 0%, 50%);
 .main {grid-area: Main;} 

}
.calendar__days {
  min-height: 100%;

  display: grid;
  width: 97%;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.day, .paddingDay{


   display: grid;
border: red 1px solid;
}

.calendar__days p { text-align: center;
  font-size: 1.5em;
  user-select: none;
}
.day__number{ height: 50%}
.today  {
 background-color: #ef6c00;
}


/* Events */
.event{
  user-select: none;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}

.event::before{
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.event:hover {background-color: aliceblue;}
.work::before{ 
  background-color: #ef6c00;
}

.invalid-feedback {
  color: rgb(51, 255, 0); 
  font-size: 12px; 
}

.is-invalid {
  border-color: rgb(47, 255, 0);
  background-color: #ffe6e6;
}
.home::before{
  background-color: #007b83;
}

.home::before{
  background-color: #039be5;
}

.hobby::before{
  background-color: #9e69af;
}

.holiday:hover {
  width: 50vw;
}
.holiday {
  background-color: #039be5;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
 
}


.error-message {
  color: rgb(154, 1, 1);
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  animation: bounce 1s ease-in;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-8px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.is-invalid {
  border-color: red;
}
.app{overflow-y: hidden;}



.addEvent__btn {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: fixed;
  top: 5%;
  left: 12%;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.addEvent__btn, .addEvent__btn__icon, .addEvent__btn__text {
  transition: all 0.3s;
}

.addEvent__btn .addEvent__btn__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.addEvent__btn .addEvent__btn__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addEvent__btn .svg {
  width: 20px;
  fill: var(--main-color);
}

.addEvent__btn:hover {
  background: var(--bg-color);
}

.addEvent__btn:hover .addEvent__btn__text {
  color: transparent;
}

.addEvent__btn:hover .addEvent__btn__icon {
  width: 148px;
  transform: translateX(0);
}

.addEvent__btn:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}




              /*   ////////////////// MODAL THEME ////////////////// */

              
