@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Mega:wght@600&family=Public+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Rubik&display=swap');
/* FONTS IMPORTED 
font-family: 'Archivo Black', sans-serif;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Public Sans', sans-serif; */

:root {
  --background-color: hsl(0, 0%, 10%); /* Dark background color */
  --text-color: hsl(0, 0%, 90%); /* Light text color */
  --accent-color: hsl(0, 0%, 60%); /* Medium gray for accents */
  --border-color: hsl(0, 0%, 20%); /* Darker border color */
  --hover-color: hsl(0, 0%, 30%); /* Slightly lighter color on hover */
  --lightBlue: #7df9ff; 
  --green: #2fff2f; 
  --pink: #ff00f5 ;
  --purple: #3300ff;
  --orange: #ff4911 ;
  --yellow:#ffff00 ;
  --background-color-light: #fffbf4;
  --background-color-dark: #2a1b36;
  --text-color-light: #314a72;
  --text-color-dark: #c68432;
  --button-color-light: cadetblue;
  --button-color-dark: #004d53;
  --bg-color-sub: #b8ddd9;
}

body {
  background-color: #fffbf4;
  margin: 0.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
}
.main{
  grid-area: main;
   display: flex;
flex-wrap: wrap;
height: 100%;}

#prev {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

#next {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.calendar {
min-height: 97%;
max-height: 97%;
  display: grid;
  grid:
    "header header header" 15%
    "aside main main" 83%
    / 5% 1fr auto;
  gap: 5px;
  
font-family: 'Rubik', sans-serif;
}

.calendar__month-title{
padding:  0 5%;
width: 45%;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
text-align: center;
color:#314a72;
font-size: 4em;
font-family: 'Rubik', sans-serif;
  
}
.aside {
  grid-area: aside;  
  width: 100%;}

.calendar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header; 
  gap: 4px;
}

.calendar__weekDays{
 margin-bottom: 0;  
  display: grid;
  list-style: none;
  width: 97%; 
  padding-bottom: 0%;
  background-color: transparent;
  grid-template-columns: repeat(7, 1fr);
  color:#314a72;
 
}

.calendar__weekDays li{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 1px solid hsl(0, 0%, 86%);
 .main {grid-area: Main;} 

}
.calendar__days {
  min-height: 100%;
  display: grid;
  width: 97%;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(255, 255, 251, 0.883);
}

@keyframes flipV{
  50%{
    transform: rotateY(-90deg);
  }
}

.day {
  display: grid;
  border: rgb(98, 67, 67) 1px solid;
  margin-bottom: 0;
  
}

.paddingDay{
  display: grid;
  border: rgb(114, 0, 0) 1px solid;
  margin-bottom: 0;
  color: rgb(180, 180, 180);
}

.calendar__days p { text-align: center;
  font-size: 1.5em;
  user-select: none;
}
.day__number{ height: 50%}
.today  {
 background-color: #ffb77c;
}

p .day__number.today{
  background-color: #ffb77c;
}


/* Events */
.event{
  user-select: none;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 0.7em;
}

.event::before{
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.event:hover {background-color: aliceblue;}
.work::before{ 
  background-color: #ef6c00;
}

.invalid-feedback {
  color: rgb(51, 255, 0); 
  font-size: 12px; 
}

.is-invalid {
  border-color: rgb(47, 255, 0);
  background-color: #ffe6e6;
}
.home::before{
  background-color: #007b83;
}

.home::before{
  background-color: #039be5;
}

.hobby::before{
  background-color: #9e69af;
}
ul.day__events-list {
  list-style-type: none; 
  padding: 2px;
}

.holiday:hover {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #007b83;
  color: white;
}

.holiday {
  background-color: #039be5;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(240, 255, 254);
  border-radius: 7px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.error-message {
  color: rgb(154, 1, 1);
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  animation: bounce 1s ease-in;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-8px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.is-invalid {
  border-color: red;
}
.app{overflow-y: hidden;}

.addEvent__btn {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #b8ddd9;
  --bg-color: #ffffff;
  --main-color: #323232;
  position: fixed;
  top: 5%;
  left: 12%;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  border: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.addEvent__btn, .addEvent__btn__icon, .addEvent__btn__text {
  transition: all 0.3s;
}

.addEvent__btn .addEvent__btn__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.addEvent__btn .addEvent__btn__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addEvent__btn .svg {
  width: 20px;
  fill: var(--main-color);
}

.addEvent__btn:hover {
  background: var(--bg-color);
}

.addEvent__btn:hover .addEvent__btn__text {
  color: transparent;
}

.addEvent__btn:hover .addEvent__btn__icon {
  width: 148px;
  transform: translateX(0);
}

.addEvent__btn:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.mini-calendar {
  background-color: #e0fffd;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.mini-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mini-calendar-body {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: transparent;
}

.mini-calendar-day {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #dbfff8;
}

.mini-calendar-day:hover {
  background-color: #6ab2ff;
  color: #fff;
}

.mini-calendar-padding-day {
  text-align: center;
  font-size: 1.2em;
  color: #989898; 
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #cfffec;
}

.mini-calendar-padding-day:hover {
  background-color: #ddd; 
  color: #000; 
}

#miniPrev:hover, #miniNext:hover {
  cursor: pointer;
}

.mini-calendar-weekdays{
  display: flex;
  justify-content:space-between;
  list-style: none;
  padding:3% 3% 0 3%;
  background-color: transparent;
}

/* Event Popover Styles */
.popover{
  position: absolute;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
  z-index: 100;
  pointer-events: all;
  transition: left .5s ease-in-out, top .5s ease-in-out, opacity .25s linear;
  width: 250px;

}

.event_popover__header{
  display: flex;
}

.popover__close_btn,
.delete_element_btn
{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 50%;
}

.popover__close_btn:hover,
.delete_element_btn:hover
{
  background-color: rgb(241,243,244);
}

.popovers__container{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popover__header{
  display: flex;
  flex-direction: column;
}

.popover__menu{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.popover__title{
  font-size: 28px;
}

.fa{
  color: rgb(95,99,104);
}

/* Event Popover Styles */
.popover{
  position: absolute;
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
  z-index: 100;
  pointer-events: all;
  transition: left .5s ease-in-out, top .5s ease-in-out, opacity .25s linear;
}

.event_popover{
  width: 250px;
}

.event_popover__header{
  display: flex;
}

.popover__close_btn,
.delete_element_btn
{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 50%;
}

.popover__close_btn:hover,
.delete_element_btn:hover
{
  background-color: rgb(241,243,244);
}

.popovers__container{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popover__header{
  display: flex;
  flex-direction: column;
}

.popover__menu{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.popover__title{
  font-size: 28px;
}

.fa{
  color: rgb(95,99,104);
}

.is-expired p{
  opacity: .5;
}




.switch {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #b8ddd9;
  --bg-color: #ffffff;
  --main-color: #323232;
  text-align: center;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  border: white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  justify-content: center;
  margin-bottom: 0.5%;
}

.switch:hover{
  background-color: var(--bg-color-sub);
}

#aside-btn {
  color: var(--text-color-light);
  width: 80%;
  background-color: #b8ddd9;
  padding: 10px;
  border: none;
  text-orientation: upright;
  writing-mode:vertical-rl;
}

.dark-mode #aside-btn {
  color: var(--text-color-dark);
  width: 80%;
  background-color: var(--button-color-dark);
  padding: 10px;
  border: none;
  text-orientation: upright;
  writing-mode:vertical-rl;
}

              /*   ////////////////// MODAL THEME ////////////////// */

.dark-mode .modal-content{
  color: var(--text-color-light);
}

.dark-mode #offcanvasAside{
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}
      /*   ////////////////// DARK MODE ////////////////// */

body.dark-mode {
background-color: #2a1b36;
color: whitesmoke
}

.dark-mode #prev {
  box-shadow: 2px 2px 5px 0px rgba(255, 229, 31, 0.5);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  margin-right: 10px;
}

.dark-mode #next {
  box-shadow: 2px 2px 5px 0px rgba(255, 229, 31, 0.5);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px black;
  outline: none;
  margin-right: 10px;
}

.dark-mode .calendar__days {
  background-color: rgba(0, 255, 200, 0.177);;
}

.dark-mode .calendar__month-title{
  color:#c68432;
  font-family: 'Rubik', sans-serif;
  }

.dark-mode .paddingDay{
  color: rgb(90, 89, 89);
}

.dark-mode .day__number{ height: 50%}
.today  {
 background-color: #00ffea72;
}

.dark-mode .holiday:hover {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #0078b4;
  color: white;
}

.dark-mode .holiday {
  background-color: #004d53;
}

.dark-mode .mini-calendar-day {
  border: 1px solid #00475a;
  background-color: #845226;
  color: rgb(220, 220, 220)
}

.dark-mode .mini-calendar-day:hover {
  background-color: #003b79;
  color: rgb(219, 228, 255)
}

.dark-mode .mini-calendar-padding-day {
  background-color: #4e6573;
  border: 1px solid #00475a;
}

.dark-mode .mini-calendar-padding-day:hover {
  background-color: #ddd; 
  color: #000; 
}

.dark-mode .calendar__days {
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(22, 0, 42, 0.883);;
}

.dark-mode .calendar__weekDays{
   color:#c68432;
   border: 1px solid #00475a;
 }

.dark-mode .day, .paddingDay{
  display: grid;
border: rgb(114, 66, 0) 1px solid;
margin-bottom: 0;
}

.dark-mode .calendar__weekDays li{
  border: 1px solid hsl(0, 0%, 34%);
}

.dark-mode .addEvent__btn {
  --main-focus: #2d8cf0;
  --bg-color-sub: #2d1171;
  --bg-color: #2a009e;
  --main-color: #323232;
  background-color: var(--bg-color);
  border: white;
  color: whitesmoke;
  box-shadow: 2px 2px 5px 0px rgba(255, 229, 31, 0.5);
}

.dark-mode .addEvent__btn .addEvent__btn__text {
  transform: translateX(22px);
  color: whitesmoke;
  font-weight: 600;
}

.dark-mode .event:hover {background-color: rgb(32, 28, 54)}

.switch-container {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-container .slider {
  --background: linear-gradient(to right, #090613ef, #18151f);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: cadetblue;
  transition: background-color 0.5s;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #f8ea27;
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked + .slider {
  background-color: #004d53;
  box-shadow: 2px 2px 5px 0px rgba(255, 229, 31, 0.5);
}

.switch-container input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #f8f8f4;
  background-color: #004d53;
}

.dark-mode .event:hover {
  background-color: rgb(32, 28, 54)
}
